.form {
    height: 10%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-around;
}
.textm h3 {
    font-size: 26px;
}
.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inputs input {
    padding: 5px;
    margin: 0 8px;
    width: 300px;
    height: 30px;
    font-size: 20px;
    display: flex;
    margin-top: 3px;
    border-radius: 4px;
    font-style: oblique;
    border: 2px solid grey;
}
.inputs input:focus {
    outline: none;
    color: green;
    border: 2px solid green;
}

.btn button {
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    background-color: green;
    font-family: "Tilt Prism", cursive;
    font-weight: 700;
    color: white;
    border-radius: 25% 0 25% 0;
    transition: 1s;
    font-size: 20px;
}

.btn button:hover {
    border-radius: 0% 25% 0% 25%;
    opacity: 0.9;
}

@media screen and (max-width: 400px) {
    form {
        /* border: 2px solid red; */
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    .form .inputs {
        display: flex;
        flex-direction: column;
    }
    .inputs input {
        margin: 10px 0;
    }
    .btn button {
        margin: 10px 0;
        margin-bottom: 30px;
    }
    /* .form {
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .input {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    .input input {
        width: 90%;
        margin-top: 10px;
        height: 40px;
    }

    .btn {
        margin-top: 10px;
    } */
}
