/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

li {
  list-style: none;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

header a {
  color: #333;
  text-decoration: none;
  border: red;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


/* navbar */
nav {
  display: flex;
  align-items: center;
}

nav a,
nav button {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

form.signup input,
form.login input {
  width: 90%;
  height: 30px;
  font-size: 20px;
}

form.signup button,
form.login button {
  width: 200px;
  margin-top: 10px;
  font-size: 20px;
}

@media screen and (max-width:500px) {
  header {
    width: 100%;
  }

  header .container {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
  }
}